 				.page-main>.page-title-wrapper .page-title {
    font-size: 2.8em;
}

p {
	font-size: 1.2em;
	color: #231F20;
}

h2 {
	font-size : 2.2em;
}

.page-header.type2.header-newskin .block-search {
    margin-left: 70px !important;
} 

.action .btn-default {
	color: #FFFFFF ;
}

.amsearch-item {
	color: #0000FF;
} 

.page-main {
    z-index: 1;
}

.cart-unit {
    color: #000000;
    font-size: 0.9em;
}

.cart.table-wrapper .col.price {
	line-height: 10px !important;
}
