<ul class="promo-block-list csf-row-list clearfix" ng-class="{'csf-mobile-row': is_mobile}"><!-- ngRepeat: promo_block in row.contentPositions --><li class="csf-column custom-html fs-layout-one" block-name="" ng-class="::promo_block.block_class" ng-style="::promo_block.block_style" ng-repeat="promo_block in row.contentPositions"><!-- ngInclude:  --><div class="csf-block clearfix ng-scope" ng-include="" src="promo_block.template.template"><div ng-bind-html="::promo_block.block_data.contentPositions[0].description" class="ng-binding ng-scope"><p><i>Effective as of: December 19, 2019</i></p>

<p style="padding: 10px 0;"><b>Forbes values your privacy. </b></p>

<p>This Privacy Statement of Forbes Media LLC (“Forbes” “we” “us” or “our”) outlines how your personally identifiable information and other information about you (your “user information”) will be collected, used, and shared in connection with your access to and/or use of Forbes.com and any content, features, services, or other offerings that Forbes may provide in connection therewith, including in relation to any email communications or newsletters that Forbes may send in connection with your use of our website (collectively, the “Site”).  This Privacy Statement also describes your choices and rights regarding the use, access to and correction or deletion of your user information. By using the Site, you acknowledge that you understand that we will use your user information in accordance with this Privacy Statement.  Where required by law, you will also be asked to provide clear and unequivocal affirmative consent to the collection, processing, and sharing of your user information via cookies and similar technologies.  The Site is owned and operated by Forbes. </p>

<p>Notice to EU individuals: this Privacy Statement is intended to comply with Regulation (EU) 2016/679 of the European Parliament and of the Council of the European Union 27 April 2016 (the “General Data Protection Regulation” or “GDPR”) and provide appropriate protection and care with respect to the treatment of your user information in accordance with the GDPR. </p>

<p>Notice to California residents: this Privacy Statement is intended to comply with the California Consumer Privacy Act ("CCPA") and other applicable California law.</p>

<p>Notice to Nevada consumers: this Privacy Statement is intended to comply with Nevada Senate Bill 220.</p>

<p>If you have any comments or queries about this Privacy Statement, or how we use your user information, please contact us using the contact details provided below.</p>

<h4>Quick links</h4>

<p>We recommend that you read this Privacy Statement in full to ensure you are fully informed.&nbsp; However, if you only want to access a particular section of this Privacy Statement, then you can click on the relevant link below to jump to that section.</p>

<div class="inner-nav">
	<div data-scroll="#summary"><b>Summary</b></div>
	<div data-scroll="#what-this-covers"><b>What this Privacy Statement Covers</b></div>
	<div data-scroll="#gathering-info"><b>Gathering of Information</b></div>
	<div data-scroll="#info-collected"><b>Information Collected</b></div>
	<div data-scroll="#voluntary-submission"><b>Voluntary Submission</b></div>
	<div data-scroll="#collect-automatically"><b>Information that We Collect Automatically</b></div>
	<div data-scroll="#cookies"><b>Cookies</b></div>
	<div data-scroll="#web-beacons"><b>Web Beacons</b></div>
	<div data-scroll="#log-files"><b>Log Files</b></div>
	<div data-scroll="#info-third-party-sources"><b>Information that We Obtain from Third Party Sources</b></div>
	<div data-scroll="#use-of-info"><b>Use of Your Information</b></div>
	<div data-scroll="#target-content"><b>To Target Content and Advertising</b></div>
	<div data-scroll="#interactive-communications"><b>To Provide Interactive Communications from the Site</b></div>
	<div data-scroll="#third-parties"><b>To Provide Communications from Third Parties</b></div>
	<div data-scroll="#sharing-info"><b>Sharing of Information</b></div>
	<div data-scroll="#advertisers"><b>Aggregate Information with Advertisers</b></div>
	<div data-scroll="#provide-services"><b>As Necessary to Provide Services to You</b></div>
	<div data-scroll="#sale-or-bankruptcy"><b>In the Event of Sale or Bankruptcy</b></div>
	<div data-scroll="#required-by-law"><b>As Required By Law</b></div>
	<div data-scroll="#consent"><b>Consent</b></div>
	<div data-scroll="#control-information"><b>Control Of Your Information</b></div>
	<div data-scroll="#data-retention"><b>Data Retention</b></div>
	<div data-scroll="#security"><b>Security</b></div>
	<div data-scroll="#children"><b>Privacy of Children</b></div>
	<div data-scroll="#cross-border-transfers"><b>Cross-border Transfers</b></div>
	<div data-scroll="#contact-us"><b>How to Contact Us</b></div>
	<div data-scroll="#statement-changed"><b>How Will I Know if the Privacy Statement Is Changed?</b></div>
</div>


<h4 id="summary"><u>Summary</u></h4>

<p>To enhance, personalize, and support your experience on the Site, among other things, we collect, use, and share your user information.&nbsp; For example, we use aggregated information to develop content targeted to user interests and to generally improve the Site’s user experience.&nbsp; As detailed below, your user information may also be used by Forbes and its partners to tailor content and ads, provide social media features (e.g., features that allow you to share content directly to your preferred social media platform), track your preferences, analyze traffic, and provide similar services and content.&nbsp; Forbes is committed to your privacy and will not share any user information with any third party without your consent, except as outlined in this Privacy Statement or as permitted by law.&nbsp; If you have any requests, comments, or questions about this Privacy Statement or your user information, please contact us in the manner provided below.</p>


<h4 id="what-this-covers"><u>What this Privacy Statement Covers</u></h4>

<p>This Privacy Statement covers the Site. While you may encounter links on the Site to other websites, such as those relating to our third party sponsors, advertisers, and other partners (e.g., our affiliate network operators), please note that these websites are not covered by this Privacy Statement (unless otherwise noted on such site, which may be the case if, for example, the site is also owned and operated by Forbes). </p>

<p>This Privacy Statement does not apply to the activities of Forbes’ third party sponsors, advertisers, and other partners (e.g. our affiliate network operators) that may collect your user information while you access or use such third party’s services in connection with your use of our Site (e.g. social media and sharing services).&nbsp; The privacy and information practices of those third parties are not covered by this Privacy Statement.&nbsp; To learn more about such third party policies, we encourage you to read and review the privacy statements of each third party service that you may choose to use. This Privacy Statement applies only to user information collected by us. </p>

<p>As a general reminder, please think carefully before you decide to put anything on the internet.&nbsp; For example, if you voluntarily disclose user information in chat areas or bulletin boards (e.g., comments sections), that information could be seen and used by others, and may result in unsolicited messages from others. We are not responsible for the user information you may choose to submit in these public forums. To request removal of your user information from our blog or community forum, please contact us as provided below. In some cases, for legal retention purposes or technical limitations (e.g., the data may not be searchable), we may not be able to remove user information voluntarily disclosed by you in such forums, in which case, we will notify you. </p>

<h4 id="gathering-info"><u>Gathering of Information</u></h4>

<p><b>Section Overview</b>: We collect user information when you use the Site.&nbsp; Sometimes you may submit it to us yourself, other times it may be collected automatically.&nbsp;You can manage and change your preferences as outlined below.</p>


<h4 id="info-collected">Information Collected</h4>

<p>When you use the Site, your user information may be collected, used, and shared in a variety of manners. 
As detailed below, the type of user information collected may vary based on how it was gathered, but may include, among other things, user information that you voluntarily submit (e.g., when setting up an account or submitting a registration or application on the Site, you may submit your contact information, social media account handles, and/or professional information), user information automatically collected about your usage of the Site (e.g., the content that you choose to view), and user information that our third party partners may share with us if such third party partners have previously received your consent to do so.</p>

<h4 id="voluntary-submission">Voluntary Submission</h4>

<p>Forbes may collect user information (including personally identifiable information) that is voluntarily provided by you or with your permission.  For example, we may ask you for user information, such as your email address, when you register to become a member of the Site or register for a Forbes-produced live event. You may also provide user information to Forbes in other contexts, including, for example, on your member profile page and public profile URL, to enter into a sweepstakes, contest, or promotion, or to apply for consideration in connection with a Forbes list or similar accolade (e.g., Under 30 list applications). In the event you order something from the Site or one of our co-branded websites, we may request additional user information, such as your address, telephone number and credit card information, in order to complete the purchase. You always have the option not to provide the information we request. If you choose not to provide the information we request, you can still visit most of the Site, but you may be unable to access certain options and services. In the event that you wish to provide user information to us about a third party, such your friend or colleague, in connection with a referral, recommendation, nomination (e.g., Under 30 list nomination), or other purpose, please only do so if you have the permission of that third party. When you register or become a member of the Site or provide information to Forbes in any other manner, you agree to provide only true, accurate, current and complete information.</p>

<h4 id="collect-automatically">Information that We Collect Automatically</h4>

<p>When you visit our Site, we may collect certain user information automatically from your device.  In some territories, including California and countries in the European Economic Area, this information may be considered personal data or personal information under applicable data protection laws.</p>

<p>Specifically, the user information we collect automatically may include information like your IP address, device type, unique device identification numbers, browser-type, broad geographic location (e.g. country or city-level location) and other technical information.&nbsp; We may also collect user information about how your device has interacted with our Site, including the pages accessed and links clicked.&nbsp; </p>

<p>Collecting this information enables us to better understand the visitors who come to our Site, where they come from, and what content on our Site is of interest to them.  We use this information for our business purposes, including internal analytics purposes and to improve the quality and relevance of our Site to our visitors.</p>

<p>Some of this information may be collected using cookies and similar tracking technology, as explained further below.</p>

<h4 id="cookies">Cookies</h4>

<p>A cookie is a small data file that is written to your computer's hard drive by your web browser. A cookie file can contain and/or automatically collect user information, such as a user identification code or IP address, that a website will use to track the pages and number of times you have visited.&nbsp;The data read from these cookies may be linked to your user information, so our use of these cookies may allow us to better understand how you use our Site, or to serve you with personalized advertising. </p>

<p>In particular, we and our partners use cookies and similar technologies on the Site for our business purposes of personalizing and optimizing your browsing experience and the Site by:</p>

<ul>
	<li>providing you with tailored content and advertisements (see below for more information), 
	</li><li>enabling social media features, 
	</li><li>safeguarding against spam and malware,
	</li><li>analyzing trends, traffic, and user behavior, 
	</li><li>administering the Site, 
	</li><li>gathering demographic information about our user base as a whole,
	</li><li>tracking web and advertising analytics throughout the Site and its affiliate websites,
	</li><li>remembering your preferences and voluntarily-submitted information (e.g. custom video playlists, preferences, job title, story ratings, membership status),
	</li><li>performing location-related functionalities and analytics,
	</li><li>participating in market research (e.g., Site ratings), and
	</li><li>educating ourselves about how we can continue to improve the Site and its various elements.
</li></ul>

<p>Cookies fall into the subcategories below.</p>

<p>Required Cookies.  Certain cookies are used for specific purposes that are essential to your secure use and navigation of the Site.  Without them, Forbes may not be able to provide core Site functions and features to you, and the Site would not operate as well as you or Forbes would like.  These cookies collect and use information such as your server preferences, single-session data and corresponding identifier, web beacons and log files (detailed below), and other credential-related information.  </p>

<p>Functional Cookies.  Other cookies may be used to collect and process information about your preferences and similar choices in connection with the Site in order to optimize your browsing experience (e.g., various local preference settings; which geographically-customized version of the Site and related content you may prefer e.g., Forbes US, Forbes Asia, Forbes Europe).  Functional cookies include social media cookies, which collect information about your social media usage and other data you may have provided in connection with such usage (if you access the Site through a social media website or mobile application, you may have social media cookies).  If you wish to modify or change your social media cookies, please visit and review the settings on your applicable social media account(s). Functional cookies also include analytics cookies, which provide us with data that allows Forbes to better understand its users and improve the Site based on what we have learned from that data.</p>

<p>Advertising Cookies.  To help support the Site and further tailor your experience, Forbes and its advertising partners (and/or their third-party analytics providers) may also use cookies on the Site to personalize the content and advertisements you may be shown.  Such advertisements use cookies to provide you targeted advertisements that may be more consistent with your interests than non-targeted advertisements.  Certain Forbes advertising partners may also use cookies to monitor or track the performance of their advertising content, including native advertising content (e.g., BrandVoice).  Forbes does not provide user information to advertising partners except in connection with the Site or as required by law.</p>

<p>If you would like to manage your cookie preferences or learn more information about this practice and your right to decline (or opt-out of) cookies placed by some or all of these companies, please <a target="_blank" href="http://preferences-mgr.truste.com/">click here</a>. If you are a California resident and to the extent our use of cookies qualifies as selling personal information under the CCPA, you can opt out of that sale by clicking the “Cookies on Forbes” tab or by contacting us as indicated below.</p>

<p>Please be aware that if you do choose to disable the receipt of cookies from our Site, you may not be able to use or benefit from certain features of the Site, particularly the features that are designed to personalize your experience.&nbsp; To learn more about the use of cookies in online advertising including how to manage or delete them <a target="_blank" href="https://www.networkadvertising.org/understanding-online-advertising/what-are-my-options">click here</a>.</p>

<p>Most web browsers automatically accept cookies, but generally allow users to modify their browser settings to display a warning before accepting a cookie, to accept cookies only from certain websites, and/or to refuse all cookies.  Please do review your web browser settings if you want to use your web browser to control our cookies.</p>


<h4 id="web-beacons">Web Beacons</h4>

<p>We may use web beacons (invisible images often referred to as pixel tags or clear GIFs) on our Site for our business purposes of recognizing users, assessing traffic patterns, identifying preferred content and measuring site engagement. We may also include web beacons in our email communications, including newsletters, in order to measure engagement with our communications (e.g., to count how many, and when, email communications have been opened, or which links in such communications have been clicked on).</p>

<p>Forbes and its partners (including advertisers, ad servers, and affiliate link e-commerce providers) may also use web beacons to collect various data provided by your browser while you are on our Site and elsewhere (i.e., outside of the Site) where we may be acting as a third party. This data is collected in the aggregate, but may include or be associated with other user information that users have voluntarily submitted.  As we do not control or have access to the manner in which these third parties may use cookies or other tracking technologies, Forbes is not responsible for the privacy practices of these third parties (if you have questions about any of these third parties, we encourage you to review their corresponding privacy policies).</p>

<h4 id="log-files">Log Files</h4>

<p>The Site’s web and ad servers log information about a user's IP address, browser type and the current URL the user is requesting. This information is always provided by a user's browser and automatically logged by most websites. These log files are stored in a secure location and used for our business purpose of internal analysis of traffic patterns within our Site.
</p>

<h4 id="info-third-party-sources">Information that We Obtain from Third Party Sources</h4>

<p>From time to time, we may collect personal information about you from third party sources (including data append services such as public or social graph data, or social media websites if you have chosen to log in or connect your social media with our Site) which we will use for our business purposes (for example, in order to better serve you with content or promotions). However, we will only use this information where these third parties either have your consent or are otherwise legally permitted or required to disclose your personal information to us.</p>

<h4 id="use-of-info"><u>Use of Your Information</u></h4>

<p><b>Section Overview:</b> Our primary goal in collecting, using, and sharing user information is to enhance your experience on the Site, support the Site, and improve its features, performance, and other elements.  Your user information may be used for the purposes outlined below.  We will not use your user information without a valid legal basis to do so.</p>

<h4 id="target-content">To Target Content and Advertising</h4>


<p>Forbes may use your user information for advertising purposes in order to promote our Site or our other products or services, and the products and services of third parties. To develop and provide content and advertising to you that is targeted to your interests, we use the analytics collected by the systems described above to determine which areas of our Site you prefer based upon the frequency of your visits and engagement with those areas. We may make reasonable assumptions based on your browser provided data to target relevant content and advertising to you on our site and elsewhere where we may be acting as a 3rd party. We may also make reasonable geographic and demographic assumptions based on your presented IP address to target relevant content and advertising.</p>


<h4 id="interactive-communications">To Provide Interactive Communications from the Site</h4>

<p>To enhance your experience, we may provide you with interactive communications, such as notifications of activity by topic or contributor to the email address that you provide to us. Such interactive communications are provided only to those users who have expressly provided us with their permission to receive them as part of their user profile.</p>

<p>From time to time we may provide emails highlighting new features, promotions or contests on the Site to those users who have expressly provided us with their permission to send such communications as part of their user profile, or where we are otherwise permitted by law.</p>


<h4 id="third-parties">To Provide Communications from Third Parties</h4>

<p>We respect the privacy of our users and will not disclose or distribute our user list to any third party, nor will we permit anyone else to do so. However, we do make available for rental our list of those registrants who have expressly provided us with their permission to receive third party offers as part of their user profile. In those cases, your email address will be transferred to the third party.  You can remove your consent to this use or modify your related user information by contacting Forbes as indicated below.</p>


<h4 id="sharing-info"><u>Sharing of Information</u></h4>

<p>You may be requested to voluntarily provide certain user information during your use of the Site. If you choose to do so, that user information may be shared with Forbes as well as our business partners, third party vendors and service providers who fulfil our business purposes.  These third parties provide hosting and other services for Forbes (for example, to support on the delivery of, provide functionality on, or help to enhance the security of our Site), and otherwise process user information for purposes that are described in this Privacy Statement or notified to you when we collect your user information.</p>

<p>We use third parties for a number of business purposes, including to provide credit card processing, to provide email services and to host services on the Site. When you sign up for such services, we will share your user information only as necessary for the third party to provide that service. These third parties are prohibited from using your user information for any other purpose.  With respect to credit card processing, we do not collect, store, or process any credit card information.  If you do not want your information to be shared, you can choose not to allow the transfer of your information by not using that particular service. </p>

<p>In addition, if you provide any user information via an advertiser promotion, please be aware you are directly providing your user information to that advertiser. Similarly, we may share certain attendee user information with sponsors of our live events (e.g., attendee name, title, company name), subject to applicable law.  If you are a California resident, you may <a href="https://submit-irm.trustarc.com/services/validation/805d1596-d973-4d98-ad80-099661a0900c" target="_blank">click here</a> to opt out of this activity or contact us as provided below.  </p>

<p>From time-to-time we may provide you the opportunity to participate in contests or surveys on our site. If you participate, we will request certain user information from you, such as your name and email. Participation in these surveys or contests is completely voluntary and you therefore have a choice whether or not to disclose this information. We use this information to notify contest winners and award prizes.</p>

<p>We may use a third party service provider to conduct these surveys or contests; that company will be prohibited from using our users' user information for any other purpose. We will not share the user information you provide through a contest or survey with other third parties unless we give you prior notice and choice.</p>

<p>As noted above, you may be able to log in to our site using sign-in services that bridge your social media login information with the Site. These services will authenticate your identity and provide you the option to share certain user information with us such as your name and email address to pre-populate our sign up form. These services give you the option to post information about your activities on the Site to your profile page to share with others within your network.  The Site includes social media features, widgets and/or interactive mini-programs that run on the Site. These features are small content modules that can be embedded on the Site (or other sites) and may collect your IP address, which page you are visiting on the Site, or set a cookie to enable the feature to function properly. Social media features and widgets are either hosted by a third party or hosted directly on the Site. Your interactions with these features are governed by the privacy policy of the company providing it.</p>

<p>We offer widgets that are hosted on the Site, like our embeddable video player. Use of the Forbes.com widgets is subject to the Site <a target="_blank" href="https://www.forbes.com/terms-and-conditions/">terms of use</a>, but downloading or embedding these widgets on other websites is not covered by this privacy statement.</p>

<h4 id="advertisers">Aggregate Information with Advertisers</h4>

<p>Forbes derives the majority of its revenue on the Site from advertising and sharing information is essential to keeping our services affordable to users. In order to attract and retain advertisers, we use the aggregated, information that we gather (as well as aggregated information from third-party market researchers) to describe our services to partners and to assist our advertisers and sponsors to better understand our audience. </p>

<p>We partner with third party ad networks to either display advertising on the Site or to manage our advertising on other sites. Our ad network partners use cookies and web beacons to collect user information about your activities on the Site and other websites to provide you targeted advertising based upon your interests.</p>

<p>If you wish to not have this information used for the purpose of serving you targeted ads, you may opt-out or modify your choices by <a target="_blank" href="http://preferences-mgr.truste.com/">clicking here</a>, if you are a California resident, by clicking the “Cookies on Forbes” tab or, if located in the European Union, by <a target="_blank" href="http://www.youronlinechoices.eu/">clicking here</a>. Please note this does not opt you out of being served advertising. You will continue to receive non-targeted ads.</p>


<h4 id="provide-services">As Necessary to Provide Services to You</h4>

<p>We occasionally hire other companies to provide limited services on our behalf, such as handling the processing and delivery of newsletter mailings, processing transactions, or performing statistical analysis of our services. We will only provide those companies the user information they need to deliver the service. In some instances, these companies may collect user information directly from you. In these cases, you will be notified of the involvement of the external service provider. In all cases, these companies are subject to agreements that require them to maintain the confidentiality of your user information and they are prohibited from using that information for any other purpose.</p>

<h4 id="sale-or-bankruptcy">In the Event of Sale or Bankruptcy</h4>

<p>The ownership of the Site may change at some point in the future. Should that occur, we want this site to be able to maintain a relationship with you. In the event of an (actual or potential) sale, merger, public offering, bankruptcy, acquisition of any part of our business, or other change in control of Forbes, your user information may be shared with the person or business that owns or controls (or potentially will own or control) this Site, provided that we inform the buyer (or prospective buyer) that it must use your user information only for the purposes disclosed in this Privacy Statement.</p> 


<h4 id="required-by-law">As Required By Law</h4>

<p>Forbes may disclose your user information to any competent law enforcement body, regulatory, government agency, court or other third party where we believe disclosure is necessary: (i) as a matter of applicable law or regulation (such as to comply with a subpoena or in the good faith belief that such action is necessary to conform to the edicts of the law), (ii) to protect your safety or the safety of others, (iii) to investigate fraud or comply with a judicial proceeding, court order or legal process served on Forbes, or (iv) to protect and defend the rights or property of Forbes.</p>

<h4 id="consent">Consent</h4>

<p>Forbes may disclose your user information to any other person with your consent.</p>

<u>Notice to Visitors in the European Economic Area ("EEA")</u>: As outlined in this Privacy Statement, Forbes will not process your user information without a lawful basis to do so.&nbsp; Our legal basis for collecting and using your user information as described above will depend on the user information concerned and the specific context in which we collect it.&nbsp; In general, Forbes will process your user information on the legal bases of consent, contract (if you have entered into an agreement with us and such processing is a necessary part thereof), or legal obligation (as noted above).&nbsp; If we ask you to provide user information to comply with a legal requirement or so we can perform a contract with you, we will make this clear at the relevant time and advise you whether the provision of this user information is mandatory or not (as well as of the possible consequences if you do not provide this user information).&nbsp; 

<p>Forbes may also process certain user information on the basis of the following legitimate interests, provided that such interests are not overridden by your privacy rights and interests: delivering and continuing to develop and improve the Site, learning from your behavior on the Site (e.g., analyzing traffic) to better serve you and other Site users, helping us modify or enhance the Site and its content, receiving insight as to what users do (and don’t) like about our Site or aspects thereof, and providing a stable, consistent, and secure user experience in connection with the Site.</p>


<h4 id="control-information"><u>Control of Your Information</u></h4>

<b>Section Overview</b><span lang="EN-GB">: You have a variety of rights regarding the use and control of your user information.

<p>Upon request, Forbes will provide you with information about whether we hold any of your user information. Registered users may change the information stored in their member profile such as image, name, password, location, country and the topics and contributors they are following at any time by visiting their member profile page at <a target="_blank" href="https://blogs.forbes.com/account/">https://blogs.forbes.com/account/</a>. All users may elect to stop receiving marketing material from Forbes or on behalf of external third party business partners by following instructions at the end of any such email received.&nbsp; Your rights and controls with respect to the user information that may be collected, used, or shared in connection with cookies are outlined above. </p>

<p>You may request to delete or modify your personal account and/or any user information you may have voluntarily submitted to us (e.g., information that you provide to register for a Forbes event) if you wish to do so. You may also ask to opt-out of marketing communications (you can exercise this right by clicking on the "unsubscribe" or "opt-out" link in the marketing emails we send you.&nbsp; To opt out of other forms of marketing, please contact us using the details below).&nbsp; In addition, you may request to have user information maintained by Forbes deleted subject to the Data Retention section below.&nbsp; </p>

<p>If you are a resident in the EEA, you may also ask us: to access, correct, update or delete your user information; you may object to our processing of this information, ask us to restrict our processing of your user information, or request portability of your user information.&nbsp; Similarly, if we have collected and processed your user information with your consent, then you can withdraw your consent at any time.&nbsp; However, please note that withdrawing your consent will not affect the lawfulness of any processing we conducted prior to your withdrawal, nor will it affect processing of your user information conducted in relation on lawful processing grounds other than consent.&nbsp; You also have a right to complain to a data protection authority about our collection and use of your user information.&nbsp; For more information, please contact your local data protection authority.</p>

<p>California Residents Only: If you are a California resident, you are entitled to request notice of certain information about the user information that we may share with third parties for marketing purposes (e.g., the categories of user information shared, and contact information of applicable third parties), as well as request that we disclose to you what personal information we collect, use, disclose and sell about you, and the right to request deletion of personal information we collect or maintain about you. If you would like to exercise any of these rights, please mail your written request to Forbes at the physical address below and title your request as follows or in a similar manner: "CCPA – California Resident Request".  You also have the right to opt out of the sale of your personal information (as defined by applicable law), which you may exercise by clicking <a href="https://submit-irm.trustarc.com/services/validation/805d1596-d973-4d98-ad80-099661a0900c" target="_blank">Do Not Sell My Info</a>, and to not be treated in a discriminatory manner for having exercised your rights regarding your privacy rights under the California Consumer Privacy Act (CCPA).</p>

<p>Nevada Consumers Only: If you would like to submit a request pursuant to Nevada Senate Bill 220, please contact us as provided below.</p>

<p>To make any request under this section, please email us as outlined below from the email address associated with your account. We may ask you for additional information to confirm your identity and that we are providing access to information about the correct person.  We will do our best to respond to your request within 30 days and, in any event, we will respond within the timescales required by applicable data protection and/or consumer privacy law.</p>

<p>You can modify your cookie preferences by following the procedure outlined in the Cookie section of the Privacy Statement above. Of course, if you have any questions, please contact us as outlined below. </p>


<h4 id="data-retention"><u>Data Retention</u></h4>

<p>We will retain your user information for as long as your account is active or as needed to provide you the Site, unless you have revoked your consent or requested to delete certain user information; and we may retain certain user information for specific legitimate interests where we have an ongoing business need (for example, relating to core Site functionalities (such as fraud-prevention and account recovery), or to comply with applicable tax, legal or accounting requirements). 
</p>

<p>When we have no ongoing legitimate business need to use your user information, we will either delete or anonymize it or, if this is not possible (for example, because your personal information has been stored in back-up archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>

<h4 id="security"><u>Security</u></h4>

<b>Section Overview</b>: We care about the protection of your user information and use appropriate technical and organisational security measures (including industry standard safeguards) to do so.&nbsp; The measures we use are designed to provide a level of security appropriate to the risk of processing of your user information.&nbsp; Of course, it’s important to keep in mind that no data transmission on the Internet is guaranteed to be 100% secure.

<p>Your user information is stored on Forbes servers located in the United States. We use industry standard physical, electronic, and organizational safeguards to protect your user information against loss or theft as well as unauthorized access and disclosure to protect your privacy. We treat data as an asset that must be protected against loss and unauthorized access. We employ many different security techniques to protect such data from unauthorized access by users inside and outside the company. However, "perfect security" does not exist on the Internet.&nbsp; If you are concerned that your privacy may have been breached, please contact us as provided below. </p>

<h4 id="children"><u>Privacy of Children</u></h4>

<b>Section Overview</b>:&nbsp; The Site is intended for people who are at least 16 years of age.&nbsp; 

<p>If you are less than 16 years old, please do not send any user information to us--including information such as your name, address, or email address. We do not knowingly collect (nor do we wish to collect) any user information from children under the age of 16.&nbsp; In the event that we learn we have collected any user information from a child under the age of 16, we will delete that information from our database and terminate the corresponding account, if any.&nbsp; We encourage you to discuss the Site with your parent or guardian.</p>


<h4 id="cross-border-transfers"><u>Cross-border Transfers</u></h4>

<p><b>Section Overview</b>: Your user information may be transferred to, and processed in, countries other than the country in which you are resident in connection with your use of the Site.&nbsp; These countries may have data protection laws that are different to the laws of your country.&nbsp; Specifically, if you access or use the Site outside of the United States, your user information will be transferred to our servers in the United States. </p>

<p>However, we have taken appropriate safeguards to require that your personal information will remain protected in accordance with this Privacy Statement.&nbsp; Forbes participates in and has certified its compliance with the EU-U.S. Privacy Shield Framework and the Swiss-U.S. Privacy Shield Framework. Forbes is committed to subjecting all personal data received from European Union (EU) member countries, the United Kingdom and Switzerland, respectively, in reliance on each Privacy Shield Framework, to the Framework's applicable Principles. To learn more about the Privacy Shield Framework, visit the U.S. Department of Commerce's Privacy Shield List at <a target="_blank" href="https://www.privacyshield.gov/list">https://www.privacyshield.gov/list</a>. Forbes is responsible for the processing of personal data it receives, under each Privacy Shield Framework, and subsequently transfers to a third party acting as an agent on its behalf. Forbes complies with the Privacy Shield Principles for all onward transfers of personal data from the EU, the United Kingdom and Switzerland, including the onward transfer liability provisions With respect to personal data received or transferred pursuant to the Privacy Shield Frameworks, Forbes is subject to the regulatory enforcement powers of the U.S. Federal Trade Commission. In certain situations, Forbes may be required to disclose personal data in response to lawful requests by public authorities, including to meet national security or law enforcement requirements.&nbsp; If you have an unresolved privacy or data use concern that we have not addressed satisfactorily, please contact our U.S.-based third party dispute resolution provider (free of charge) at <a target="_blank" href="https://feedback-form.truste.com/watchdog/request">https://feedback-form.truste.com/watchdog/request</a>.&nbsp; Under certain conditions, more fully described on the Privacy Shield website at <a target="_blank" href="https://www.privacyshield.gov/article?id=How-to-Submit-a-Complaint">https://www.privacyshield.gov/article?id=How-to-Submit-a-Complaint</a>, you may invoke binding arbitration when other dispute resolution procedures have been exhausted.</p>

<p>We have implemented similar appropriate safeguards with our third party service providers and partners and further details can be provided upon request.</p>

<h4 id="contact-us"><u>How to Contact Us</u></h4>

<b>Section Overview</b>: Please contact us if you have any questions or requests. 

<p>If you are an individual in the EEA and would like to make a request pursuant to the General Data Protection Regulation (GDPR), <a href="https://submit-irm.trustarc.com/services/validation/f3efdcfe-1c07-49b6-96ad-10a792d52082" target="_blank">click here</a>.</p>

<p>If you are a California resident and would like to make a request pursuant to the California Consumer Privacy Act (CCPA), <a href="https://submit-irm.trustarc.com/services/validation/845c1774-9e10-4f50-ba1d-eeffa1a769c6" target="_blank">click here</a>.</p>

<p>If you are a Nevada consumer and would like to make a request pursuant to Nevada Senate Bill 220, <a href="https://submit-irm.trustarc.com/services/validation/3b4a34c3-f529-46b1-bafc-954b79909d32" target="_blank"> click here</a>.</p>

<p>If you have any other questions regarding this Privacy Statement or how to remove or modify your user information or related consents, please feel free to contact us at <a target="_blank" href="mailto:privacy@forbes.com">privacy@forbes.com</a> or Forbes Media, Privacy Team - Customer Service, 499 Washington Blvd., 9th Floor, Jersey City, NJ 07310.  The data controller of your user information is Forbes Media LLC.&nbsp; Our EU representative can be contacted at <a target="_blank" href="mailto:privacy@forbes.com">privacy@forbes.com</a> or Forbes Media - EU Representative, 151 Wardour Street, Offices 201-203, London, W1F 8WE.</p>

<p>If you are a California resident who has a disability and requires assistance to access this Privacy Statement in an alternative format, contact us by any of the methods set out here.  You can access a printable copy of this Privacy Statement by printing this page.  </p>

<h4 id="statement-changed"><u>How Will I Know if the Privacy Statement Is Changed?</u></h4>

<p>We may update this Privacy Statement from time to time in response to changing legal, technical or business developments.&nbsp; This Privacy Statement describes our data handling practices for the 12 months prior to the date on which it was last updated. When we update our Privacy Statement, we will take appropriate measures to inform you, consistent with the significance of the changes we make.&nbsp; For example, if we make any material changes we will notify you by email (sent to the email address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We will obtain your consent to any material changes if and where consent is required by applicable laws.&nbsp; We encourage you to periodically review this page for the latest information on our privacy practices.</p>

<p>Note on Translated Version(s): For your convenience, Forbes may make translated versions of this Privacy Statement available on the Site.&nbsp; In the event that the terms of any such translated version conflict with the terms of the English version, the terms of the English version of this Privacy Statement will apply.</p>
</span></div></div></li><!-- end ngRepeat: promo_block in row.contentPositions --></ul>